<body>

<h1> Información general sobre la cuenta:  </h1>

<br/>

<h4> Datos personales: </h4>
  <ul class="list-group">
    <li class="list-group-item">Nombre: {{authService.usuario.nombre}}</li>
    <li class="list-group-item">Apellido: {{authService.usuario.apellido}}</li>
  </ul>

<br/>

<h4> Datos sobre la cuenta: </h4>
  <ul class="list-group">
    <li class="list-group-item">Username: {{authService.usuario.username}}</li>
    <li class="list-group-item">Rol: {{authService.usuario.roles}}</li>
  </ul>

</body>
