<div class="animated fadeIn fast">

    <div class="btn-group">
      <button [routerLink]="['/evaluaciones/evaluacion/1']" class="btn btn-light" routerLinkActive="active"> Evaluación del producto</button>&nbsp;
      <button [routerLink]="['/evaluaciones/historico/1']" class="btn btn-light" type="button" routerLinkActive="active">Histórico</button>&nbsp;
      <button type="button" class="btn btn-light" routerLinkActive="active">Generar Informe</button>&nbsp;
    </div>

    <br/><br/><br/>

    <h2 align="center">{{productname}}</h2>
    <br/><br/>


  <div class="row">

        <br/><br/>
        <table class="table table-bordered" width="50">
        <thead align="center" class="p-3 mb-2 bg-success text-white">
        <tr>
          <th>Fecha de evaluacion</th>
          <th>Version</th>
          <th width="50" height="50">CS</th>
          <th width="70" height="50">CUMP </th>
          <th width="70" height="50">CONF </th>
          <th width="70" height="50">TRAZ </th>
          <th width="70" height="50">DISP </th>
          <th width="70" height="50">RECUP</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let evaluacion of eveprop " class="p-3 mb-2 bg-light text-dark"    >
            <!-- <td> <input type="checkbox"> &nbsp;{{evaluacion.fecha_evaluacion}} testing</td> -->
            <!-- <td>{{loadCharacter(evaluacion.id)}}</td> -->
            <td  align="center" *ngIf ="evaluacion.producto.id === productId"> &nbsp;{{evaluacion?.createAt | date: 'M/d/yy, h:mm a'}} </td>
            <td  align="center" *ngIf ="evaluacion.producto.id === productId">{{evaluacion?.producto?.version}} </td>
            <td width="50" height="50" align="center" *ngIf ="evaluacion.producto.id === productId" >{{evaluacion?.valor_ciberseguridad}}</td>
            <td width="50" height="50" align="center" *ngIf ="evaluacion.producto.id === productId" >{{evaluacion?.valor_cump}}</td>
            <td width="50" height="50" align="center" *ngIf ="evaluacion.producto.id === productId" >{{evaluacion?.valor_conf}}</td>
            <td width="50" height="50" align="center" *ngIf ="evaluacion.producto.id === productId">{{evaluacion?.valor_traz}}</td>
            <td width="50" height="50" align="center" *ngIf ="evaluacion.producto.id === productId">{{evaluacion?.valor_disp}}</td>
            <td width="50" height="50" align="center" *ngIf ="evaluacion.producto.id === productId">{{evaluacion?.valor_recup}}</td>
            <!-- </div> -->

          </tr>
        </tbody>
        </table>

    </div>
    <br/><br/>
    <div class="row" text-align="center" >
      <h4 align="center">Histórico valores Características:</h4>
      <br/><br/>

    <div class="flex">
      <div class="flex-item">
        <div style="display: block;" align="center" >
        <canvas baseChart width="1000" height="300"
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptionsCar"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
    <br/><br/>
    </div>

<br/><br/>
  <div class="row" >
    <h4 align="center">Histórico valores Propiedades:  </h4>
      <br/><br/>

          <div class="flex">
            <div class="flex-item">
              <div style="display: block;" align="center" >
              <canvas baseChart width="1000" height="600"
                          [datasets]="lineChartDataGeneral"
                          [labels]="lineChartLabels"
                          [options]="lineChartOptionsProp"
                          [colors]="lineChartColors"
                          [legend]="lineChartLegend"
                          [chartType]="lineChartType"
                          [plugins]="lineChartPlugins"
                          (chartHover)="chartHovered($event)"
                          (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
          </div>
        </div>

</div>
