<div class="animated fadeIn fast">
&nbsp;&nbsp;&nbsp;&nbsp;

    <br/>
      <h5> Información detallada sobre la empresa: </h5>
  	<br/>
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <ul class="list-group">
              <li class="list-group-item  bg-success text-white">Datos de la empresa: </li>
              <li class="list-group-item bg-light  p-3"><b>Nombre:</b> {{empresa.nombre}}</li>
              <li class="list-group-item bg-light p-3"><b>Teléfono:</b> {{empresa.telefono}}</li>
              <li class="list-group-item bg-light  p-3"><b>CIF:</b> {{empresa.cif}}</li>
              <li class="list-group-item bg-light p-3"><b>Dirección:</b> {{empresa.direccion}}</li>
          </ul>
      </div>
      <div class="col-sm">
        <ul class="list-group text-dark ">
          <li class="list-group-item   bg-success text-white">Datos del contacto de la empresa: </li>
          <li class="list-group-item bg-light p-3"><b>Nombre:</b> {{empresa.nombre_empleado}}</li>
          <li class="list-group-item bg-light p-3"><b>Apellido: </b>{{empresa.apellido_empleado}}</li>
          <li class="list-group-item bg-light p-3"><b>Email de contacto: </b>{{empresa.email_empleado}}</li>
          <li class="list-group-item bg-light p-3"><b>Cargo en la empresa: </b>{{empresa.cargo_empleado}}</li>
    </ul>
  </div>
        </div>
      </div>
    </div>
</div>
